{% extends 'layout' %}

{% block title %}Create Account{% endblock %}

{% block bodyclass %}auth register{% endblock %}

{% block headerScripts %}
    <script type="text/javascript" src="{{ external_asset( '//www.google.com/recaptcha/api.js' ) }}"></script>
{% endblock %}

{% block content %}
    {% if config( 'layout.animated_background' ) %}
        {% include 'animated-background' %}
    {% endif %}

    <div class="row vertical-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Register <img src="{{ public_asset( 'img/logoshaded.png' ) }}" height="45" alt="ACEmulator Logo" class="pull-right" /></h2>

                    <form action="{{ route( 'auth.register' ) }}" method="POST" id="registration-form">
                        <div class="form-group">
                            <label for="account">Account Name:</label>
                            <input type="text" name="account" id="account" class="form-control" placeholder="Account" required autofocus />
                        </div>

                        <div class="form-group">
                            <label for="email">Email Address:</label>
                            <input type="text" name="email" id="email" class="form-control" placeholder="Email Address" required />
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
                        </div>

                        <div class="form-group">
                            <label for="confirm-password">Confirm Password:</label>
                            <input type="password" name="password_confirmation" id="confirm-password" class="form-control" placeholder="Confirm Password" required />
                        </div>

                        <div class="form-group">
                            {{ csrf_field() }}
                            <input type="submit" value="Sign Up" class="form-control btn btn-primary" /><br /><br />

                            <div align="center" class="g-recaptcha" data-sitekey="{{ recaptchaKey }}"></div>
                        </div>

                        <div class="form-group">
                            <strong>Already have an account? <a href="{{ route( 'auth.login' ) }}">Click Here</a></strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
