<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="google" content="notranslate" />
        <meta http-equiv="Content-Language" content="en" />

        <link rel="stylesheet" href="{{ external_asset( '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' ) }}" />
        <link rel="stylesheet" href="{{ public_asset( 'css/app.css' ) }}" />

        <script type="text/javascript">
            window.Laravel = {
                'csrfToken': '{{ csrf_token()|json_encode }}'
            };
        </script>

        {% block headerStyles %}{% endblock %}
        {% block headerScripts %}{% endblock %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        <div class="container">
            <header>
                {% if 'auth.' not in currentRoute.getName() and 'password.' not in currentRoute.getName() %}
                    {% include 'navigation' %}
                {% endif %}
                {% include 'messages' %}
            </header>

            {% block content %}{% endblock %}

            <script type="text/javascript" src="{{ external_asset( '//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' ) }}"></script>
            <script type="text/javascript" src="{{ external_asset( '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' ) }}"></script>

            {% block footerScripts %}{% endblock %}

            <footer></footer>
        </div>
    </body>
</html>
