<ul class="nav navbar-nav">
    {{ nav.menuItem( 'dashboard', {}, currentRoute, 'Dashboard' ) }}

    {{ nav.dropdownOpen( currentRoute, 'profile', 'Profile', 'profile' ) }}
        {{ nav.dropdownItem( 'profile.index', {}, currentRoute, 'My Profile', 'profile' ) }}
        {{ nav.dropdownItem( 'characters.all', {}, currentRoute, 'Characters', 'profile' ) }}
    {{ nav.dropdownClose() }}

    {{ nav.menuItem( 'auth.logout', {}, currentRoute, 'Logout' ) }}

    <li class="nav {{ serverStatus == 1 ? 'status-up' : 'status-down' }}">
        {% set status = serverStatus == 1 ? 'On' : 'Off' %}
        <a>Server Status: <strong>{{ status }}</strong></a>
    </li>
</ul>
