<ul class="nav navbar-nav">
    {{ nav.menuItem( 'dashboard', {}, currentRoute, 'Dashboard' ) }}
    {{ nav.menuItem( 'auth.logout', {}, currentRoute, 'Logout' ) }}

    {{ nav.dropdownOpen( 'profile', currentRoute, 'login', 'Profile' ) }}
        {{ nav.dropdownItem( 'profile', 'characters', 'Characters' ) }}
        {{ nav.dropdownItem( 'profile', 'login', 'Change Password' ) }}
    {{ nav.dropdownClose() }}

    <li class="nav" style="background-color: {{ serverStatus == 1 ? 'green' : 'red' }}">
        {% set status = serverStatus == 1 ? 'On' : 'Off' %}
        <a>Server Status: <strong>{{ status }}</strong></a>
        {##}
    </li>
</ul>
