<ul class="nav navbar-nav">
    {{ nav.menuItem( 'dashboard', {}, currentRoute, 'Dashboard' ) }}

    {{ nav.dropdownOpen( 'profile', currentRoute, 'login', 'Profile' ) }}
        {{ nav.dropdownItem( 'profile', 'characters', 'Characters' ) }}
        {{ nav.dropdownItem( 'profile', 'login', 'Change Password' ) }}
    {{ nav.dropdownClose() }}

    {{ nav.menuItem( 'auth.logout', {}, currentRoute, 'Logout' ) }}

    <li class="nav">&nbsp;</li>

    <li class="nav {{ serverStatus == 1 ? 'status-up' : 'status-down' }}">
        {% set status = serverStatus == 1 ? 'On' : 'Off' %}
        <a>Server Status: <strong>{{ status }}</strong></a>
    </li>
</ul>
