{% macro menuItem(route, parameters, current, name, disabled) %}
    <li class="nav {% if route == current %}active{% endif %}{% if disabled|default(false) %} disabled{% endif %}">
        <a href="{% if disabled|default(false) == false %}{{ route( route, parameters ) }}{% else %}#{% endif %}">
            {{ name }}
        </a>
    </li>
{% endmacro %}

{% macro dropdownOpen(route, partialRoute, name, class) %}
    <li class="dropdown {{ class }}-menu{% if partialRoute in route %} active{% endif %}">
        <a href="#" class="dropdown-toggle" id="{{ class }}-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{ name }} <span class="caret"></span>
        </a>
        <ul class="inverse-dropdown dropdown-menu" role="menu">
{% endmacro %}

{% macro dropdownItem(route, parameters, current, name, class, disabled) %}
    <li class="{{ class }}-menu{% if route == current %} active{% endif %}{% if disabled|default(false) %} disabled{% endif %}">
        <a href="{{ route( route ) }}">{{ name }}</a>
    </li>
{% endmacro %}

{% macro dropdownClose() %}
    </ul>
</li>
{% endmacro %}